@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* .lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
} */

/* General */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

ul {
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

hr{
    width: 50%;
    margin: 30px;
    color: #B2A8D2;
}

main{
    margin-top: 20px;
}

/* Header */

header{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 20px 100px 30px;
    grid-template-areas:
    "seccion-1 seccion-1 seccion-1"
    "seccion-2 seccion-3 seccion-4"
    "seccion-5 seccion-5 seccion-5"
    ;
    align-items: center;
    gap: 10px;
}

.eslogan{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #B5B9DE;
    grid-area: seccion-1;
}

.iconosI{
    justify-self: center;
    grid-area: seccion-2;
}

.logo{
    justify-self: center;
    grid-area: seccion-3;
}

.logo a img{
    width: 80px;
    height: 80px;
}

.iconosCS{
    justify-self: center;
    grid-area: seccion-4;
}

.nav{
    display: flex;
    grid-area: seccion-5;
    justify-self: center;
}

.nav ul{
    display: flex;
    gap: 200px;
}

.menu-toggle ,#menu-toggle{
    display: none;
} 

/* Footer */
.contenedorFooter{
    background-color: #B5B9DE;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contGeneral{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 50px;
}

.contFoot li{
    margin: 15px;
}

.contRedes{
    margin: 10px;
}

.whatsapp{
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
}

/* Main Index */  

.imagenMain img{
    width: 100%;
    height: auto;
}

.imagenMain2 {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    position: relative;
  }

  .imagenMain2 img {
    width: 100%;
    height: 100%;
    display: block;
  }

  .imagenMain2 button {
    all: unset;
    cursor: pointer;
    width: 150px;
    height: 50px;
    background-color: #B2A8D2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    /* Para que el botton siga en la misma posicion
    tengo que ocupar %, no px absoluto */
    left: 25%; 
    bottom: 38%; 
    transform: translateX(-50%); 
  }
  
.contNovedades{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin: 100px 0px 100px 0px;
}

.contArticulos{
    display: flex;
    align-items: center;
    gap: 50px;
}

.articulos{
    display: flex;
    gap: 30px;
}

.desArticulos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.desArticulos .enlace-imagen {
    position: relative;
}

.desArticulos .imagen-hover {
    width: 100%;
    height: 288px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0; 
    transition: opacity 0.3s ease;
}

.desArticulos .enlace-imagen .imagen-hover:hover {
    opacity: 1;
}

.direcciones button{
    all: unset;
    cursor: pointer;
}

.contNovedades .botonVerMas{
    width: 100px;
    height: 30px;
    background-color: #B5B9DE;
    border: none;
    cursor: pointer;
}

/* Main  Aros */

.contAros{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 45px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.contAros button{
    all: unset;
    cursor: pointer;
}

.contAros .seccion-1{
    display: flex;
    gap: 30px;
}
.contAros .seccion-2{
    display: flex;
    gap: 30px;
}

/* Main Nosotros */

.mainNosotros{
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.contNosotros{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 30px;
}

.fotoPerfil{
    background-image: url(../assent/img/foto-perfil.jpg);
    width: 100%;
    height: 500px;
    background-size: 100% 100%;
}

/* Main Cuidado */

.contCuidado{
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.articulo-1{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;    
}
.articulo-2{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.articulo-3{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.titulo{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

/* Main PC y garantia */

.contPC-G{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 70px;
    height: 500px;
    width: 100%;
}

.contPC-G h1{
    margin-top: 30px;
}
.contArticulosPC{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.articuloPC-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 50%;
}
.articuloPC-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 50%;
}

/* Main collares */

.mainCollares {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 45px;
    margin: 100px;
}

.contGrid{
    display: grid;
    grid-template-columns: repeat(4, 224px);
    grid-template-rows: repeat(2, 330px);
    gap: 30px;
}

.artCollares {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.artCollares img{
    width: 100%;
    height: 90%;
}

.collar-1{
    order: 3;
}
.collar-2{
    order: 2;
}
.collar-3{
    order: 4;
}
.collar-4{
    order: 1;
}
.collar-5{
    order: 5;
}
.collar-6{
    order: 6;
}
.collar-7{
    order: 7;
}
.collar-8{
    order: 8;
}


@media (max-width:1440px){
    
}

@media (max-width:1376px){

    header{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
    }

    .iconosI{
        display: none;
    }

    .nav{
        display: none;
    }

    .menu-toggle{
        display: inline-flex;
        grid-area: seccion-2;
        justify-self: center;
        font-size: 30px;
        cursor: pointer;
    }

    #menu-toggle:checked ~ .nav{
        display: inline-flex;
    }

    .nav{
        width: 100%;
        background-color: #B2A8D2;
        justify-content: center;
    }

    .nav .menu{
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
}

@media (max-width:1200px){

    /* .direcciones{
        display: none;
    } */

    .contArticulos{
        gap: 20px;
    }
    .articulos{
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width:485){

}

@media (max-width:375px){
    .articulos{
        flex-direction: column;
    }

    .direcciones{
        display: none;
    }
}
