/*Utilities*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
/*Base*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: black; }

main {
  margin-top: 20px; }

/*Layout*/
header {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 20px 100px 30px;
  align-items: center;
  grid-area: none;
  justify-content: none;
  gap: 10px;
  grid-template-areas: "seccion-1 seccion-1 seccion-1" "seccion-2 seccion-3 seccion-4" "seccion-5 seccion-5 seccion-5"; }
  header .eslogan {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #b5b9de;
    grid-area: seccion-1; }
  header .iconosI {
    justify-self: center;
    grid-area: seccion-2; }
  header .logo {
    justify-self: center;
    grid-area: seccion-3; }
    header .logo a img {
      width: 80px;
      height: 80px; }
  header .iconosCS {
    justify-self: center;
    grid-area: seccion-4; }
  header .nav {
    display: flex;
    grid-area: seccion-5;
    justify-self: center; }
    header .nav ul {
      display: flex;
      gap: 200px; }
  header .menu-toggle, header #menu-toggle {
    display: none; }

footer .contenedorFooter {
  background-color: #b5b9de;
  width: 100%;
  display: flex;
  flex-direction: none;
  justify-content: center;
  align-items: center;
  gap: none; }
  footer .contenedorFooter .contGeneral {
    width: 100%;
    display: flex;
    flex-direction: none;
    justify-content: center;
    align-items: none;
    gap: none;
    margin: 50px; }
    footer .contenedorFooter .contGeneral .contFoot, footer .contenedorFooter .contGeneral .contRedes {
      width: 30%; }
      footer .contenedorFooter .contGeneral .contFoot li, footer .contenedorFooter .contGeneral .contRedes li {
        margin: 15px; }
        footer .contenedorFooter .contGeneral .contFoot li:hover, footer .contenedorFooter .contGeneral .contRedes li:hover {
          font-weight: bold; }
    footer .contenedorFooter .contGeneral .contRedes {
      margin: 10px; }

footer .whatsapp {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 5px; }

.imagenMain img {
  width: 100%;
  height: auto; }

.imagenMain .imagen-principal-1-r {
  display: none; }

.imagenMain2 {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: none;
  justify-content: none;
  align-items: center;
  gap: none; }
  .imagenMain2 img {
    width: 100%;
    height: 100%;
    display: block; }
  .imagenMain2 button {
    all: unset;
    cursor: pointer;
    width: 150px;
    height: 50px;
    background-image: linear-gradient(135deg, #B5B9DE 40%, #d5d7e3 100%);
    display: flex;
    flex-direction: none;
    justify-content: center;
    align-items: center;
    gap: none;
    position: absolute;
    /* Para que el botton siga en la misma posicion
        tengo que ocupar %, no px absoluto */
    left: 25%;
    bottom: 38%;
    transform: translateX(-50%);
    border-radius: 5px;
    transition: box-shadow 0.5s ease; }
    .imagenMain2 button:hover {
      box-shadow: 2px 2px 5px #d5d7e3; }
  .imagenMain2 .imagen-principal-2-r {
    display: none; }

.contNovedades {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 100px 0px 100px 0px; }
  .contNovedades .botonVerMas {
    width: 100px;
    height: 30px;
    position: relative;
    overflow: hidden;
    border: 1px solid #B5B9DE; }
    .contNovedades .botonVerMas .texto {
      position: relative;
      z-index: 1; }
    .contNovedades .botonVerMas button {
      width: 100%;
      height: 100%;
      background-color: #b5b9de;
      cursor: pointer;
      border: none;
      top: 0;
      left: 0;
      z-index: 0; }
      .contNovedades .botonVerMas button::before {
        content: "";
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: white;
        transition: left 0.5s ease; }
      .contNovedades .botonVerMas button:hover::before {
        left: 0; }
  .contNovedades .contArticulos {
    display: flex;
    flex-direction: none;
    justify-content: none;
    align-items: center;
    gap: 50px; }
    .contNovedades .contArticulos .direcciones {
      display: flex;
      flex-direction: none;
      justify-content: center;
      align-items: center;
      gap: none;
      border-radius: 50%;
      border: solid 1px #B5B9DE;
      height: 60px;
      width: 60px;
      box-shadow: 5px 5px 10px #888888; }
      .contNovedades .contArticulos .direcciones button {
        all: unset;
        cursor: pointer; }
    .contNovedades .contArticulos .articulos {
      display: flex;
      flex-direction: none;
      justify-content: center;
      align-items: center;
      gap: 30px; }
      .contNovedades .contArticulos .articulos .desArticulos {
        display: flex;
        flex-direction: column;
        justify-content: none;
        align-items: center;
        gap: none; }
        .contNovedades .contArticulos .articulos .desArticulos .enlace-imagen {
          position: relative; }
        .contNovedades .contArticulos .articulos .desArticulos .imagen-hover {
          width: 100%;
          height: 288px;
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
          transition: opacity 0.3s ease; }
          .contNovedades .contArticulos .articulos .desArticulos .imagen-hover:hover {
            opacity: 1; }

.contAros {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 45px;
  margin-top: 30px;
  margin-bottom: 100px; }
  .contAros button {
    all: unset;
    cursor: pointer; }
  .contAros .seccion-1, .contAros .seccion-2 {
    display: flex;
    flex-direction: none;
    justify-content: center;
    align-items: none;
    gap: 30px; }
    .contAros .seccion-1 .desArticulos, .contAros .seccion-2 .desArticulos {
      display: flex;
      flex-direction: column;
      justify-content: none;
      align-items: center;
      gap: none; }

.mainCollares {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 45px;
  margin: 50px 0px 150px 0px; }
  .mainCollares .contGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 224px));
    grid-template-rows: repeat(2, 330px);
    align-items: none;
    grid-area: none;
    justify-content: center;
    gap: 30px;
    width: 100%; }
    .mainCollares .contGrid .artCollares {
      display: flex;
      flex-direction: column;
      justify-content: none;
      align-items: center;
      gap: none; }
      .mainCollares .contGrid .artCollares img {
        width: 100%;
        height: 90%; }
      .mainCollares .contGrid .artCollares .collar-1 {
        order: 3; }
      .mainCollares .contGrid .artCollares .collar-2 {
        order: 2; }
      .mainCollares .contGrid .artCollares .collar-3 {
        order: 4; }
      .mainCollares .contGrid .artCollares .collar-4 {
        order: 1; }
      .mainCollares .contGrid .artCollares .collar-5 {
        order: 5; }
      .mainCollares .contGrid .artCollares .collar-6 {
        order: 6; }
      .mainCollares .contGrid .artCollares .collar-7 {
        order: 7; }
      .mainCollares .contGrid .artCollares .collar-8 {
        order: 8; }

.mainNosotros {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: none;
  margin: 50px 0 100px 0; }
  .mainNosotros .contNosotros {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: center;
    gap: 30px;
    margin: 30px; }
    .mainNosotros .contNosotros .fotoPerfil {
      background-image: url(../assent/img/foto-perfil.jpg);
      width: 70%;
      height: 450px;
      background-size: 100% 100%; }

.contPC-G {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70px;
  width: 100%;
  margin: 50px 0px 100px 0px; }
  .contPC-G h1 {
    margin: 30px 0px 0px 0px; }
  .contPC-G .contArticulosPC {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: none; }
  .contPC-G .articuloPC-1, .contPC-G .articuloPC-2 {
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: center;
    gap: 20px;
    width: 90%; }

.mainCuidado {
  margin-top: 100px;
  margin-bottom: 100px; }
  .mainCuidado .contCuidado {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    display: flex;
    margin-top: 50px; }
    .mainCuidado .contCuidado hr {
      width: 50%;
      margin: 30px;
      color: #b2a8d2; }
    .mainCuidado .contCuidado .articulo-1 {
      display: flex;
      flex-direction: column;
      justify-content: none;
      align-items: center;
      gap: none;
      width: 50%; }
    .mainCuidado .contCuidado .articulo-2, .mainCuidado .contCuidado .articulo-3 {
      display: flex;
      flex-direction: column;
      justify-content: none;
      align-items: center;
      gap: 30px;
      width: 50%; }
    .mainCuidado .contCuidado .articulo-3 {
      margin-bottom: 50px; }
  .mainCuidado .titulo {
    display: flex;
    flex-direction: none;
    justify-content: center;
    align-items: none;
    gap: none; }

/*Components*/
.mainProducts {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: none; }
  .mainProducts .contGeneralProducto {
    width: 80%; }
    .mainProducts .contGeneralProducto hr {
      color: #b2a8d2; }
    .mainProducts .contGeneralProducto .contProducto {
      margin: 10px 0px 100px 0px;
      display: grid;
      grid-template-columns: 65% 35%;
      grid-template-rows: repeat(5, 1fr);
      align-items: none;
      grid-area: none;
      justify-content: none;
      gap: 50px;
      grid-template-areas: "seccion-1 seccion-3" "seccion-1 seccion-4" "seccion-1 seccion-5" "seccion-2 seccion-5" "seccion-2 seccion-5"; }
      .mainProducts .contGeneralProducto .contProducto .contImgProducto {
        grid-area: seccion-1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px; }
      .mainProducts .contGeneralProducto .contProducto .accordion {
        grid-area: seccion-2; }
      .mainProducts .contGeneralProducto .contProducto .contDescripcionProducto {
        grid-area: seccion-3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: none;
        gap: 10px; }
      .mainProducts .contGeneralProducto .contProducto .contCompra {
        grid-area: seccion-4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: none;
        gap: 10px; }
        .mainProducts .contGeneralProducto .contProducto .contCompra .buttonCompra-1 {
          height: 30%;
          background-color: #b5b9de;
          border: 1px solid #B5B9DE; }
          .mainProducts .contGeneralProducto .contProducto .contCompra .buttonCompra-1::before {
            content: "";
            position: absolute;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            background-color: white;
            transition: left 0.5s ease; }
          .mainProducts .contGeneralProducto .contProducto .contCompra .buttonCompra-1:hover::before {
            left: 0; }
      .mainProducts .contGeneralProducto .contProducto .contInformacionProducto {
        grid-area: seccion-5; }

/*MediaQ*/
@media (max-width: 1376px) {
  /* Header */
  .nav .menu {
    gap: 100px; }
  /* Main index */
  .imagenMain2 button {
    bottom: 35%; } }

@media (max-width: 1250px) {
  .direcciones {
    display: none; } }

@media (max-width: 1200px) {
  /* main index */
  .articulos {
    flex-wrap: wrap; }
  /* main aros */
  .seccion-1, .contAros .seccion-2 {
    flex-wrap: wrap; }
  .seccion-2 {
    flex-wrap: wrap; }
  /* main collares */ }

@media (max-width: 1000px) {
  /* main index */
  .imagenMain .imagen-principal-1 {
    display: none; }
  .imagenMain .imagen-principal-1-r {
    display: inline-flex; }
  .imagenMain2 .imagen-principal-2 {
    display: none; }
  .imagenMain2 .imagen-principal-2-r {
    display: inline-flex; }
  .imagenMain2 button {
    left: 50%; } }

@media (max-width: 862px) {
  /* Header */
  header {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto; }
    header .iconosI {
      display: none; }
    header .nav {
      display: none; }
    header .menu-toggle {
      display: inline-flex;
      grid-area: seccion-2;
      justify-self: center;
      font-size: 30px;
      cursor: pointer; }
    header #menu-toggle:checked ~ .nav {
      display: inline-flex; }
    header .nav {
      width: 100%;
      background-color: #B5B9DE;
      justify-content: center; }
      header .nav .menu {
        flex-direction: column;
        gap: 10px;
        align-items: center; } }

@media (max-width: 768px) {
  /* main nosotros */
  .mainNosotros .contNosotros {
    width: 80%; }
    .mainNosotros .contNosotros .fotoPerfil {
      width: 400px; }
  /* main index */
  .articulos {
    justify-content: center; }
  /* Footer */
  footer .contenedorFooter .contGeneral .contFoot, footer .contenedorFooter .contGeneral .contRedes {
    width: 100%; } }

@media (max-width: 485px) {
  /* main index */
  .imagenMain2 button {
    width: 125px;
    height: 40px;
    bottom: 30%; }
  /* Footer */
  .contGeneral {
    flex-direction: column; }
  /* main nosotros */
  .mainNosotros .contNosotros {
    width: 90%; }
  /* main aros */ }

@media (max-width: 540px) {
  .contPC-G h1 {
    font-size: 150%; } }

@media (max-width: 376px) {
  .contPC-G h1 {
    font-size: 135%; }
  /* main nosotros */
  .mainNosotros .contNosotros {
    width: 90%; }
    .mainNosotros .contNosotros .fotoPerfil {
      width: 300px;
      height: 250px; } }

@media (max-width: 320px) {
  /* Header */
  .eslogan {
    font-size: 13px; }
  /* Footer */
  footer .whatsapp {
    margin: 1px; }
  /* Main index */
  .imagenMain2 button {
    width: 100px;
    height: 35px;
    bottom: 30%;
    font-size: 12px; }
  .articulos {
    flex-direction: column; }
  /* main nosotros */
  .mainNosotros .contNosotros {
    width: 90%; }
    .mainNosotros .contNosotros .fotoPerfil {
      width: 250px;
      height: 200px; }
  /* main PYC */
  .contPC-G h1 {
    font-size: 17px; }
  /* main aros */ }
