footer{
    .contenedorFooter{
        background-color: map-get($colores, color-fondo-footer);
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .contGeneral{
            width: 100%;
            display: flex;
            justify-content: center;  
            margin: 50px;
            .contFoot, .contRedes{
                width: 30%; 
                li{
                    margin: 15px;
                    &:hover{
                        font-weight: bold;
                    }
                }
            }
            .contRedes{
                margin: 10px;
            } 
        }    
    }
    .whatsapp{
        position: fixed;
        bottom: 0;
        right: 0;
        margin: 5px;
    }
}