.mainCuidado{
    margin-top: 100px;
    margin-bottom: 100px;
    .contCuidado{
        width: 100%;
        hr{
            width: 50%;
            margin: 30px;
            color: map-get($colores, color-hr);
        }
        @include flex(column, center, center, 30px);
        display: flex;
        margin-top: 50px;
        .articulo-1{
            @include flex(column, none, center, none);
            width: 50%;
            ul{
                @include flex(column, none, none, 10px);
            }
        }
        .articulo-2{
            @extend .articulo-1;
            gap: 30px;
        }
        .articulo-3{
            @extend .articulo-2;
        }
    }
    .titulo{
        @include flex(none, center, none ,none);
    }
}