.contPC-G{
    @include flex(column, center, center, 50px);
    width: 100%;
    margin: 50px 0px 100px 0px;
    h1{
        margin: 30px 0px 0px 0px;
    }
    .contArticulosPC{
        @include flex(column, center, center, 10px);
        .articuloPC-1{
            @include flex(column, none, center, 20px);
            ul{
                @include flex(column, none, none, 10px);
            }
            width: 50%;
        }
        .articuloPC-2{
            @extend .articuloPC-1;
        }
        .articuloPC-3{
            @extend .articuloPC-1;
        }
        .articuloPC-4{
            @extend .articuloPC-1;
        }
    }
    
}