.imagenMain{
    img{
        width: 100%;
    height: auto;
    }
    .imagen-principal-1-r{
        display: none;
      }    
}

.imagenMain2 {
    width: 100%;
    height: auto;
    position: relative;
    @include flex(none, none, center, none);
    img{
        width: 100%;
        height: 100%;
        display: block;
    }
    a{
        all: unset;
        cursor: pointer;
        width: 150px;
        height: 50px;
        background-image: linear-gradient(135deg, #dddddd 40%, #aaaaaa 100%);
        

        @include flex(none, center, center, none);
        position: absolute;
        left: 25%; 
        bottom: 38%; 
        transform: translateX(-50%); 
        border-radius: 5px;
        transition: box-shadow 0.5s ease;
        &:hover{
            box-shadow: 2px 2px 5px #5d5f6b;
        }
    }
    .imagen-principal-2-r{
        display: none;
      }    
}

.contNovedades{
    width: 100%;
    @include flex(column, center, center, 40px);
    margin: 100px 0px 100px 0px;
    .botonVerMas{
        width: 100px;
        height: 30px;
        position: relative;
        overflow: hidden;
        border: 1px solid #B5B9DE;
        .texto{
            position: relative;
            z-index: 1;
        }
        button{
            width: 100%;
            height: 100%;
            background-color: rgba(181, 185, 222, 1);
            cursor: pointer;
            border: none;
            top: 0;
            left: 0;
            z-index: 0;
            &::before{
                content: "";
                position: absolute;
                top: 0;
                left: -100%;
                width: 100%;
                height: 100%;
                background-color: rgb(255, 255, 255);
                transition: left 0.5s ease;
            }
            &:hover::before{
                left: 0;
            }
        }
    }
    
    .contArticulos{
        @include flex(none, none, center, 50px);
        .direcciones{
            @include flex(none, center, center, none);
            button{
                all: unset;
                cursor: pointer;
            }
        }
        .articulos{
            @include flex(none, center, center, 30px);
            .desArticulos{
                @include flex(column, none, center, none);
                .enlace-imagen{
                    position: relative;
                    .imagen-hover{
                    width: 100%;
                    height: 288px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 0; 
                    transition: opacity 0.3s ease;
                    &:hover{
                        opacity: 1;
                    }
                }
            }
            }
        }
    }
}