.contAros{
    width: 100%;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    // gap: 45px;
    @include flex(column, center, center, 45px);
    margin-top: 30px;
    margin-bottom: 100px;
    button{
        all: unset;
        cursor: pointer;
    }
    .seccion-1{
        @include flex(none, center, none, 30px);
        // display: flex;
        // gap: 30px;
        // justify-content: center;
        .desArticulos{
            // display: flex;
            // flex-direction: column;
            // align-items: center;
            @include flex(column, none, center, none);
        }
    }
    .seccion-2{
        @extend .seccion-1;
    }
}