.mainProducts{
    @include flex(column, center, center, 45px);
    margin: 50px 0px 150px 0px;
    .contGrid{
        @include grid(repeat(4, 270px), repeat(2, 330px), center, none, none, 15px);
        grid-template-areas: 
        "product-1 product-2 product-3 product-4"
        "product-5 product-6 product-7 product-8"
        ;
        width: 100%;
        .product-1{
            grid-area: product-1;
        }
        .product-2{
            grid-area: product-2;
        }
        .product-3{
            grid-area: product-3;
        }
        .product-4{
            grid-area: product-4;
        }
        .product-5{
            grid-area: product-5;
        }
        .product-6{
            grid-area: product-6;        
        }
        .product-7{
            grid-area: product-7;        
        }
        .product-8{
            grid-area: product-8;
        }
        .products{
            @include flex(column, center, center, none);
            .enlace-imagen{
                position: relative;
                .imagen-hover{
                width: 100%;
                height: 288px;
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0; 
                transition: opacity 0.3s ease;
                &:hover{
                    opacity: 1;
                }
            }
        }
        }
    }
}