.mainProducts{
    width: 100%;
    @include flex(column, center, center, none);
    .contGeneralProducto{
        width: 80%;
        hr{
            color: map-get($colores, color-hr);
        }
        .contProducto{
            margin: 10px 0px 100px 0px;
            @include grid(65% 35%, repeat(5, 1fr), none, none, none, 50px);
            grid-template-areas: 
            "seccion-1 seccion-3"
            "seccion-1 seccion-4"
            "seccion-1 seccion-5"
            "seccion-2 seccion-5"
            ". seccion-5"
            ;
            .contImgProducto{
                grid-area: seccion-1;
                @include flex(column, center, center, 20px);
                .carrusel{
                    @include flex(none, center, center, 20px);
                    width: 30%;
                    button{
                        all: unset;
                        cursor: pointer;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
            .contPoliticas{
                grid-area: seccion-2;
                div{
                    @include flex(none, space-between, none, none);
                    margin: 10px 0px 10px 0px;
                    button{
                        all: unset;
                        cursor: pointer;
                        font-size: 20px;
                    }
                }
            }
            .contDescripcionProducto{
                grid-area: seccion-3;
                @include flex(column, center, none, 10px);
            }
            .contCompra{
                grid-area: seccion-4;
                @include flex(column, none, none, 20px);
                .buttonsProduc-1{
                width: 100%;
                height: 30px;
                position: relative;
                overflow: hidden;
                border: 1px solid #B5B9DE;
                .texto{
                    position: relative;
                    z-index: 1;
                }
                button{
                    width: 100%;
                    height: 100%;
                    background-color: rgba(181, 185, 222, 1);
                    cursor: pointer;
                    border: none;
                    top: 0;
                    left: 0;
                    z-index: 0;
                    &::before{
                        content: "";
                        position: absolute;
                        top: 0;
                        left: -100%;
                        width: 100%;
                        height: 100%;
                        background-color: rgb(255, 255, 255);
                        transition: left 0.5s ease;
                    }
                    &:hover::before{
                        left: 0;
                    }
                    } 
                }
                .buttonsProduc-2{
                    @extend .buttonsProduc-1;
                }
            }
            
            .contInformacionProducto{
                grid-area: seccion-5;
                ul{
                    @include flex(column, none, none, 20px);

                }
            }
        }
    }
    
}

