@media (max-width:1376px){
    /* Header */
    .nav{
        .menu{
            gap: 100px;
        }  
    }
    /* Main index */

    .imagenMain2 a {
        bottom: 30%;
    }
}

@media (max-width:1250px) {
     
    .contNovedades{
        .contArticulos{
            .direcciones{
                display: none;
                button{
                display: none;
                }
            }
        }
    }
}

@media (max-width:1200px){

    /* main index */
    .articulos{
        flex-wrap: wrap;
    }

    /* main aros */

    .seccion-1{
        flex-wrap: wrap;
    }

    .seccion-2{
        flex-wrap: wrap;
    }

    /* main collares */
    .mainCollares{
        .contGrid{
            @include grid(repeat(2, 270px), repeat(4, 330px), center, none, none, 20px);
            grid-template-areas: 
            "collar-1 collar-2"
            "collar-3 collar-4"
            "collar-5 collar-6"
            "collar-7 collar-8"
            ;
        }
    }
    /* main nosotros*/
    .mainNosotros{
        .contNosotros{
        width: 70%;
        .fotoPerfil{
            width: 500px;
        }
    }
}
}

@media (max-width:1005px){
    .mainProducts{
        width: 100%;
        .contGeneralProducto{
            .contProducto{
                @include grid(100%, auto, none, none, none, none);
                grid-template-areas: 
                "seccion-1"
                "seccion-1"
                "seccion-2"
                "seccion-3"
                "seccion-4"
                "seccion-5"
                "seccion-5"
                ;
                .contImgProducto{
                    grid-area: seccion-1;
                    .carrusel{
                        display: none;
                    }
                }
                .contPoliticas{
                    grid-area: seccion-4;
                }
                .contDescripcionProducto{
                    @include flex(column, center, center, 10px);
                    grid-area: seccion-2;
                }
                .contCompra{
                    grid-area: seccion-3;
                }
                .contInformacionProducto{
                    grid-area: seccion-5;
                }
            }
            
        }
    }
}













